h4{
    margin:0 auto;
    width: 59%;
    color: gray;
}

.header-technical{
    color: black;
    margin: 0 auto;
    width: 59%;
    font-size: 20px;
    padding-bottom: 20px;
}



@media only screen and (max-width: 1600px){
    h4,.header-technical{
        width: 77.5%;  
    }
}


@media only screen and (max-width: 1300px){
    h4,.header-technical{
        width: 77%;
    }
}

@media only screen and (max-width: 1200px){
    h4,.header-technical{
        width: 87%;
        
    }
}


@media only screen and (max-width: 1100px){
    h4,.header-technical{
        width: 91.5%;
    }
}


@media only screen and (max-width: 950px){
    h4,.header-technical{
        width: 92%;
    }
}

@media only screen and (max-width: 800px){
    .header-technical{
        font-size: 20px;
        width: 86%;
    }

    h4{
        font-size: 17px;
        width: 86%;
    }
}
