.person__big_wrapper{
    display: grid;
    justify-content: space-between;
}

.person__image_wrapper{
    overflow: hidden;
    height: 90%;
}

.person__image_wrapper>img{
    height: 100%;
    width: 100%;
    transition-duration: 0.3s;
    transition-timing-function: linear;
}

.person__image_wrapper>img:hover{
    transform: scale(1.07);
}

.person__text_wrapper{
    height: 20px;
    margin-top: -40px;
}

.person__text_wrapper>h2,p{
    
    margin: 0px;
}


@media only screen and (max-width:1200px){
    .person__big_wrapper{
        transform: scale(0.9);
    }
}

@media only screen and (max-width:800px){
    .person__big_wrapper{
        justify-content: center;
    }
}

@media only screen and (max-width:600px){

    .person__big_wrapper:first-child{
        margin-top:50px;
    }

    .person__big_wrapper:last-child{
        margin-bottom:50px;
    }
}