.model-case-big-wrapper{
    width: 100%;
    padding-top: 4px !important;
    padding: 20px 15px 0px 15px;
}

.model-case-head{
    font-size: 18px;
    font-weight: bold;
    margin: 0px 0px 12px 0px;
}

.model-case-big-wrapper img{
    width: 94%;
}

.model-case-prop{
    font-weight: bold;
}

.model-case-p{
    margin-bottom: 10px;
    color: gray;
    width: 93%;
    font-size: 17px;
}


@media only screen and (max-width: 950px){
    .model-case-big-wrapper{
        padding:12px;
        padding-top: 4px !important;
    }
}

@media only screen and (max-width: 800px){
    .model-case-big-wrapper{
        width: 100%;
        margin-bottom: 40px;
    }
}

@media only screen and (max-width: 600px){
    .model-case-big-wrapper{
        margin-bottom: 25px;
    }

    .model-case-head{
        font-size: 18px;
        font-weight: bold;
    }
}